@page "/EventDetails/{Id:int}"
@inherits EventDetailsBase

@if (Event == null && ErrorMessage == null)
{
    <LoadingSpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"/>
}
else
{
    <h3>Event Details</h3>
    <div class="row">
        <div class="col-md-6">
            <b><h5 class="mb-4" >@Event.Name</h5></b>
            <p class="mb-4">@Event.Description</p>
            <p class="mb-4">@Event.Localization</p>
            <p class="mb-4">Number of Ticket (@Event.MaxCapacity) </p>
            <button class="btn btn-success" @onclick="() => (AddToCart_Click(new CartItemToAddDto{ 
                                                CartId = HardCoded.CartId,
                                                EventId = Event.Id,
                                                Qty = 1
                                            }))">
                <b>Add to Cart</b>
            </button>
        </div>
    </div>
}
